# MacOS
.Trashes
.DS_Store
.LSOverride
.AppleDouble
.Spotlight-V100

# Windows
*.lnk
Thumbs.db
Desktop.ini
ehthumbs*.db
$RECYCLE.BIN

# Linux
*~
*.swp
.directory
.fuse_hidden*

# Log
*.log

# Node
node_modules

# typescript
*.tsbuildinfo

# Nuxt
/packages/*/.nuxt
/packages/*/.output
/packages/*/.data
/packages/*/.nuxt
/packages/*/.nitro
/packages/*/.cache
/packages/*/dist
